@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #fae8e8;
}


.ana{
    align-items: center;
    margin-top: 30px;
    text-align: center;
    background: #fae8e8;
    font-family: 'Allura', cursive;
    margin: 0%;
    padding-left: 20%;
}

.lindo{
    text-align: center;
    background: #ffff;
    font-family: 'Allura', cursive;
}

.navtext{
    font-family: 'Petit Formal Script', cursive;
    text-decoration: none;
}

.nav-link{
    color: black;
}

